html {
  height: calc(100% - 6px);
  min-width: 1200px;
}

body, #root {
  background-color: gray;
  height: 100%;
}

.App {
  padding: 2px;
  display: grid;
  background-color: gray;
  column-gap: 4px;
  grid-template-columns: 1fr 3fr;
  height: 100%;
}

.App > div {
  height: 100%;
  border-width: 3px;
  border-style: outset;
  border-radius: 1px;
}

.Window {
  display: grid;
  grid-template-rows: 25px 1fr;
  overflow: hidden;
  background-color: #bebebe;
  height: 100%;
  box-sizing:border-box;
}

.Window > .Taskbar {
  font-size: 13px;
  background-image: linear-gradient(to right, #17037b, #570078);
  background-color: #17037b;
  padding-top: 3px;
  color:#fafcff;
  background-clip: border-box;
  user-select: none;
}

.Taskbar > .Title {
  padding-left: 8px;
}

.Window > .Content {
  height: calc(100% - 2px);
  width: 100%;
  border-width: 3px;
  border-radius: 1px;
  border-style: inset;
  overflow: auto;
}

.Window .Messages div {
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.Window .Messages div:last-child {
  padding-bottom: 10px;
}

.Chat .Content {
  display: grid;
  grid-template-rows: 60px 1fr 60px;
  height: 100%;
}

.Chat .Content .Header {
  background-color: #bebebe;
}

.Chat .Messages {
  background-color: white;
  width: calc(100% - 22px);
  max-height: calc(100% - 6px);
  margin: 6px;
  border-style: inset;
  border-width: 3px;
  font-size: 14px;
  overflow-y: scroll;
}

.Chat .Content .Header {
  display: grid;
  grid-template-columns: 75px 1fr;
  grid-template-rows: 60% 40%;
}

.Chat .Content .Header .AvatarContainer {
  grid-row-start: 1;
  grid-row-end: 3;
}

.Chat .Content .Header .Avatar {
  height: 50px;
  width: 50px;
  margin-top: 3px;
  margin-left: 7px;
  border-width: 3px;
  border-style: outset;
  user-select: none;
  pointer-events: none;
}

.Chat .Content .Header .UsernameContainer {
  grid-row-start: 1;
  grid-row-end: 2;
}

.Chat .Content .Header input {
  height: 50%;
  width: 70%;
  top: 10px;
  position: relative;
  font-size: 16px;
}

.Chat .EntryContainer {
  width: 100%;
  height: 100%;
}

.Chat .Entry {
  font-size: 12px;
  width: 95%;
  height: 70%;
  margin: 4px;
  resize: none;
}

.Chat .UserMessage {
  padding-left: 5px;
  padding-right: 5px;
}

.Chat .UserMessage .UserName {
  font-weight: bold;
}

.OnlineStatus {
  font-size: 10px;
  margin-left: 1px;
  user-select: none;
}

.Browser .Content {
  display: grid;
  grid-template-rows: 40px 1fr;
}

.Browser .TabsContainer {
  display: grid;
  grid-template-columns: 180px 180px 180px;
  column-gap: 3px;
  padding-left: 3px;
  user-select: none;
}

.Browser .TabContainer:last-child {
  border-right-style: solid;
}

.Browser .TabsContainer .Tab {
  width: 100%;
  height: 80%;
  border-radius: 2px;
  border-color: black;
  top: 10%;
  position: relative;
  font-size: 14px;
  display: grid;
  grid-template-columns: 32px 1fr;
}

.Browser .TabsContainer .TabText {
  margin-top: 6px;
  padding-left: 3px;
}

.Browser .TabsContainer .Tab.Active {
  background-color: #d5d5d3;
}

.Browser .TabsContainer .Tab:hover {
  border-style: outset;
  border-width: 3px;
  top: 5%;
  cursor: pointer;
}

.Browser .TabsContainer .Tab.Active:hover {
  border-style: none;
  top: 10%;
  cursor: initial;
}

.Browser .ContentContainer {
  background-color: white;
  margin: 0px 6px 6px 6px;
  border-style: inset;
  border-width: 3px;
  width: calc(100% - 20px);
}

.Favicon img {
  width: 20px;
  height: 20px;
  margin: 6px;
}

.Website {
  width: 100%;
  height: 100%;
}

.Game-Website {
  background-color: black;
  color:whitesmoke;
}

@keyframes shake {
  0% { transform: translate(0px, 1px) rotate(0deg); }
  100% { transform: translate(0px, -1px) rotate(0deg); }
}